@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SIMPLE RESET */

html,
body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -ms-text-size-adjust: 100%; /* Prevent font scaling in IE/Edge */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
